
body {
  background-color: #f7f7f7;
  font: 14px/1.5 AvenirLTProMedium;
  overflow-x: hidden;
}

header {
  height: 100px;
  position: fixed;
  top: 0;
  padding: 5px;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #FFF;
  border-bottom: 1px solid #e1e1e1;
  z-index: 10;
}

footer {
  position: sticky;
  bottom: -100px;
  height: 100px;
  padding: 5px 20px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  border-bottom: 1px solid #e1e1e1;
  margin-top: 100px;
}

footer svg {
  height: 100%;
}

footer p {
  font-size: 24px;
}


h1.colored {
  width: 100%;
  font-size: 28px;
  font-weight: 900;
  line-height: 1;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(89deg,#9d50ae,#672eaf);
}

h2 {
  width: 100%;
  font-size: 32px;
  font-weight: 800;
  color: rgb(38, 54, 86);
  margin-bottom: 8px;
}

h3 {
  color: rgb(38, 54, 86);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 900;
  letter-spacing: normal;
  line-height: 1.13;
  margin: 0px;
}

h4 {
  font-size: 20px;
  font-weight: 900;
  line-height: 1.3;
  text-align: center;
  color: rgb(37, 48, 80);
  margin: 16px 0px;
}

h5 {
  font-family: AvenirLTProBlack;
  font-size: 18px;
  line-height: 1.33;
  text-align: left;
  color: rgb(9, 17, 41);
}

h6 {
  color: #8a9bae;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
}

p {
    display: block;
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(38, 54, 86);
}

p.description{
  font-family: AvenirLTProLight;
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: rgb(38, 54, 86);
  margin: 5px 0px;
}

p.disclaimer {
  font-size: 12px;
}

.separator {
  height: 1px;
    width: 100%;
    background-color: rgb(230, 230, 230);
    margin-bottom: 5px;
}

.price {
  color: rgb(38, 54, 86);
  display: inline-flex;
  word-break: break-word;
  overflow-wrap: break-word;
  font-size: 16px;
  line-height: 20px;
  font-weight: 900;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
}

.full-width {
  width: 100% !important;
}

.error-notification {
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgb(221, 31, 0);
  background-color: transparent;
  margin: 12px auto;
  box-sizing: border-box;
  overflow: hidden;
  min-height: 48px;
}

.error-notification::before {
  content: " ";
  background: rgb(221, 31, 0);
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 6px;
}

.error-notification p{
  font-size: 16px !important;
  padding-left: 10px !important;
}

.error-notification svg{
  font-size: 18px;
  color: rgb(221, 31, 0);
  margin-left: 11px;
}

#app-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 93%;
  padding-top: 120px;
}

.main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(73deg, rgb(0, 51, 204), rgb(0, 91, 255));
  color: #FFF;
  padding: 8px 20px;
  border-radius: 40px;
  font-weight: 700;
  width: fit-content;
  min-width: 120px;
  cursor: pointer;
}

.main-button.outline {
  background: #FFF;
  color: rgb(0, 70, 228);
  border: 2px solid rgb(0, 70, 228);
}

.main-button .svg-inline--fa {
  margin-left: 5px;
}

.button-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-arrow svg *{
  fill: #FFF;
}

/* stars ranking */

.ranking-container i {
  display: flex;
}


.ranking-container {
  display: flex;
  align-items: center;
  height: 15px;
}

.ranking-container i {
  margin-left: 5px;
}

.ranking-container i,
.ranking-container img {
  height: 100%;
}

/* Dates selected */

.dates-selected-wrapper {
  display: flex;
  align-items: center;
}

.dates-selected{
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 4px;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.dates-selected-wrapper .start-date-wrapper {
  position: relative;
  filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 0px 3px);
  width: 50%;
  z-index: 3;
}

.dates-selected-wrapper .start-date {
  display: flex;
  flex-direction: column;
  height: auto;
  background: rgb(246, 246, 246);
  text-align: left;
  clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
  padding: 12px 10px;
  background: linear-gradient(88deg, rgb(118, 64, 161), rgb(180, 82, 163)) left bottom / 100% 5px no-repeat rgb(255, 255, 255);
}

.dates-selected-wrapper .end-date {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 55%;
  padding: 12px 10px;
  padding-left: calc(5% + 8px);
  display: flex;
  flex-direction: column;
  height: auto;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.01);
  background: rgb(246, 246, 246);
  text-align: left;
  background: linear-gradient(88deg, rgb(118, 64, 161), rgb(180, 82, 163)) left bottom / 100% 6px no-repeat rgb(255, 255, 255);
}

.dates-selected-wrapper .day {
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
}

.dates-selected-wrapper .date {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  -webkit-box-align: baseline;
  align-items: baseline;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.33px;
}

.dates-selected-wrapper .date span:first-child{
  font-size: 14px;
}

.dates-selected-wrapper .date span:not(:last-child) {
  margin-right: 5px;
}


.edit-icon {
  color: rgb(138, 155, 174);
  width: 20px;
  height: 16px;
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  cursor: pointer;
  transition: transform 0.2s ease 0s;
}

.dates-selected-wrapper .edit-icon:hover {
  transform: scale(1.4);
}

