
body {
  background-color: #f7f7f7;
  font: 14px/1.5 AvenirLTProMedium;
}

h1.colored {
  width: 100%;
  font-size: 28px;
  font-weight: 900;
  line-height: 1;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(89deg,#9d50ae,#672eaf);
}

h2 {
  width: 100%;
  font-size: 32px;
  font-weight: 800;
  color: rgb(38, 54, 86);
  margin-bottom: 8px;
}

h3 {
  color: rgb(38, 54, 86);
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 900;
  letter-spacing: normal;
  line-height: 1.13;
  margin: 0px;
}

h4 {
  font-size: 20px;
  font-weight: 900;
  line-height: 1.3;
  text-align: center;
  color: rgb(37, 48, 80);
  margin: 16px 0px;
}

h6 {
  color: #8a9bae;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
}

p {
    display: block;
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(38, 54, 86);
}

p.description{
  font-family: AvenirLTProLight;
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: rgb(38, 54, 86);
  margin: 5px 0px;
}

p.disclaimer {
  font-size: 12px;
}

.separator {
  height: 1px;
    width: 100%;
    background-color: rgb(230, 230, 230);
    margin-bottom: 5px;
}

.price {
  color: rgb(38, 54, 86);
  display: inline-flex;
  word-break: break-word;
  overflow-wrap: break-word;
  font-size: 16px;
  line-height: 20px;
  font-weight: 900;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
}

.full-width {
  width: 100% !important;
}

.error-notification {
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgb(221, 31, 0);
  background-color: transparent;
  margin: 12px auto;
  box-sizing: border-box;
  overflow: hidden;
  min-height: 48px;
}

.error-notification::before {
  content: " ";
  background: rgb(221, 31, 0);
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 6px;
}

.error-notification p{
  font-size: 16px !important;
  padding-left: 10px !important;
}

.error-notification svg{
  font-size: 18px;
  color: rgb(221, 31, 0);
  margin-left: 11px;
}

#app-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 93%;
}

.main-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(73deg, rgb(0, 51, 204), rgb(0, 91, 255));
  color: #FFF;
  padding: 8px 20px;
  border-radius: 40px;
  font-weight: 700;
  width: fit-content;
  min-width: 120px;
  cursor: pointer;
}

.main-button.outline {
  background: #FFF;
  color: rgb(0, 70, 228);
  border: 2px solid rgb(0, 70, 228);
}

.button-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-arrow svg *{
  fill: #FFF;
}

/* stars ranking */

.ranking-container i {
  display: flex;
}


.ranking-container {
  display: flex;
  align-items: center;
  height: 15px;
}

.ranking-container i {
  margin-left: 5px;
}

.ranking-container i,
.ranking-container img {
  height: 100%;
}

/* Dates selected */

.dates-selected-wrapper {
  display: flex;
  align-items: center;
}

.dates-selected{
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 4px;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.dates-selected-wrapper .start-date-wrapper {
  position: relative;
  filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 0px 3px);
  width: 50%;
  z-index: 3;
}

.dates-selected-wrapper .start-date {
  display: flex;
  flex-direction: column;
  height: auto;
  background: rgb(246, 246, 246);
  text-align: left;
  clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
  padding: 12px 10px;
  background: linear-gradient(88deg, rgb(118, 64, 161), rgb(180, 82, 163)) left bottom / 100% 5px no-repeat rgb(255, 255, 255);
}

.dates-selected-wrapper .end-date {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 55%;
  padding: 12px 10px;
  padding-left: calc(5% + 8px);
  display: flex;
  flex-direction: column;
  height: auto;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.01);
  background: rgb(246, 246, 246);
  text-align: left;
  background: linear-gradient(88deg, rgb(118, 64, 161), rgb(180, 82, 163)) left bottom / 100% 6px no-repeat rgb(255, 255, 255);
}

.dates-selected-wrapper .day {
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
}

.dates-selected-wrapper .date {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  -webkit-box-align: baseline;
  align-items: baseline;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.33px;
}

.dates-selected-wrapper .date span:first-child{
  font-size: 14px;
}

.dates-selected-wrapper .date span:not(:last-child) {
  margin-right: 5px;
}


.edit-icon {
  color: rgb(138, 155, 174);
  width: 20px;
  height: 16px;
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  cursor: pointer;
  transition: transform 0.2s ease 0s;
}

.dates-selected-wrapper .edit-icon:hover {
  transform: scale(1.4);
}

/* Cart */

.cart {
  position: sticky;
  top: 16px;
  min-width: 25%;
}

.cart-title {
  font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(38, 54, 86);
}

.cart-content {
  background: rgb(255, 255, 255);
  transition: height 1s ease 0s;
  max-width: 290px;
  border-radius: 12px;
  box-shadow: rgb(0 0 0 / 5%) 0px 12px 24px 0px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  height: auto;
  position: relative;
}

.cart-icon-wrapper {
  background: #fff;
  border-radius: 150px;
  box-shadow: 0 12px 24px 0 rgb(0 0 0 / 12%);
  position: absolute;
  right: 20px;
  top: -5px;
  z-index: 100;
  width: 60px;
  height: 60px;
}

.cart-info-wrapper {
  height: auto;
  max-height: 519px;
  margin-top: 66px;
  padding: 0px 20px;
}

.guest-wrapper {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background-color: transparent;
  margin-bottom: 15px;
  font-size: 10px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgb(38, 54, 86);
  position: relative;
  z-index: 5;
  width: 90%;
  margin-left: 19px;
}

.guest-infos {
  display: flex;
  align-items: center;
  width: 33.33%;
  justify-content: center;
  margin: 0px -9px;
}

.guest-infos span {
  font-size: 14px;
  color: rgb(37, 48, 80);
}

.hotel-park-ticket-icon {
  color: #8a9bae;
  margin-bottom: 6px;
  align-items: center;
  display: flex;
  position: relative;
  z-index: 2;
}

.hotel-park-ticket-icon>svg{
  margin-right: 10px;
  height: 32px;
  width: 32px;
  min-width: 32px;
}

.hotel-park-ticket-icon h3{
  color: #8a9bae;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: .2px;
  margin: 2px 0 0 -5px;
  text-transform: uppercase;
}

.cart-info-wrapper button {
  font-family: inherit;
  z-index: 0;
  position: relative;
  cursor: pointer;
  border-width: 0px;
  font-weight: 700;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 4px;
  max-width: calc(100% - 8px);
  overflow: hidden;
  box-shadow: none;
  text-align: center;
  touch-action: manipulation;
  outline: none;
  vertical-align: middle;
  background: none;
  border-radius: 24px;
  font-size: 16px;
  min-width: 40px;
  min-height: 40px;
  padding: 8px;
  text-decoration: none !important;
  transition: none 0s ease 0s !important;
  color: rgb(0, 70, 228) !important;
}

.cart-info-wrapper button svg{
  margin: 0;
}

.cart-hotel-info {
  background-color: rgb(247, 247, 247);
  border-radius: 12px;
  padding: 10px;
  width: 100%;
}

.cart-hotel-info .ranking-container {
  height: 10px;
  margin-bottom: 5px;
}

.cart-hotel-details {
  display: flex;
  margin: 5px 0px
}

.cart-hotel-details>.description{
  font-weight: 900;
  color: rgb(138, 155, 174);
  flex: 1 1 0%;
}

.cart-hotel-details .night-ticket-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.cart-hotel-details .night,
.cart-hotel-details .ticket  {
  display: flex;
  align-items: center;
}

.cart-hotel-details .ticket>div {
  display: flex;
  flex-direction: column;
}

.cart-hotel-details .ticket p {
  margin: 0;
  line-height: 12px;
}

.cart-hotel-details .parks {
  display: flex;
    margin: 0px;
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: 12px;
    letter-spacing: normal;
    color: rgb(37, 59, 86);
    -webkit-box-align: stretch;
    align-items: stretch;
}

.cart-hotel-details svg{
  width: 40px;
  height: 40px;
}

.cart-hotel-details .night-ticket-wrapper .description {
  font-weight: 900;
  color: rgb(37, 59, 86);
}

.cart-hotel-details .night-ticket-wrapper .description .number {
  font-size: 16px;
  margin-right: 5px;
}

.cart-hotel-details svg path{
  fill: rgb(118, 64, 161);
}

.cart-hotel-amount {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hotel-amount-title {
  font-size: 12px;
  margin: 0px;
  color: rgb(37, 48, 80);
  font-weight: 900;
  line-height: 1.17;
}

.taxes-infos{
  font-size: 10px;
  font-weight: 500;
  text-align: right;
  color: rgb(138, 155, 174);
  margin: 0px;
}

.colored-disclaimer {
  font-size: 10px;
  font-weight: 900;
  text-align: right;
  color: rgb(105, 53, 142);
  margin: 5px 0px 0px;
}

.cart-total-amount,
.total-amount-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cart-total-amount {
  margin-right: 20px;
  margin-top: 15px;
}

.total-amount-wrapper {
  background: linear-gradient(0deg, rgb(241, 146, 215), rgb(180, 90, 209)) right top / 4px 90% no-repeat transparent;
  padding-right: 16px;
}

.total-amount-wrapper .price {
  font-size: 24px;
  line-height: 28px;
}

.total-amount-wrapper-title {
  color: rgb(78, 99, 121);
  font-size: 12px;
  line-height: 12px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.cart-total-amount .taxes-infos {
  padding-right: 16px;
}

.cart-button-wrapper {
  display: flex;
  justify-content: center;
  margin: 30px 10px 10px 10px;
}

