.react-calendar__tile--active abbr {
    background: #006edc;
    color: white;
    border-radius: 50%;
    padding: 9px;
}

.react-calendar__tile:hover abbr {
    background: #006edc;
    color: white;
    border-radius: 50%;
    padding: 9px;
}

.react-calendar__tile:enabled:hover, .react-calendar__tile:enabled:focus {
    background-color: #FFF;
}

.react-calendar__tile:enabled:hover abbr, .react-calendar__tile:enabled:focus abbr{
    background-color: #e6e6e6;
}