@font-face {
    font-family: 'AvenirLTProMedium';
    src: url('../fonts/AvenirLTProMedium.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirLTProLight';
    src: url('../fonts/AvenirLTProLight.otf');
    font-weight: normal;
    font-style: normal;
}