.popup-modal-mask {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(9, 17, 41, 0.33);
    bottom: 0;
    left: 0;
    outline: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

.popup-modal {
    border-radius: 12px 12px 50% 50% / 12px 12px 5% 5%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    overflow: hidden;
    max-height: 90vh;
    margin: 32px 16px;
    box-shadow: rgb(9 17 41 / 25%) 0px 24px 48px 0px;
    background-clip: padding-box;
    background-color: #fff;
    width: 95vw;
    max-width: 920px;
}

.popup-modal-content {
    padding: 8px 40px 24px;
    margin: 16px 8px 0px;
    max-height: 63vh;
    overflow: auto;
}

.popup-modal-content h1 {
    margin-bottom: 24px;
}

.popup-modal .description {
    font-size: 14px;
}

.popup-modal-content>.description,
.popup-modal-description {
    margin-bottom: 40px;
}

.popup-modal-description {
    border-radius: 12px;
    box-shadow: 0 12px 24px 0 rgb(0 0 0 / 5%);
    margin-top: 20px;
    padding: 20px; 
}

.popup-modal-description>p:first-child {
    font-family: AvenirLTProBlack;
    font-size: 14px;
    line-height: 1.29;
    color: rgb(37, 59, 86);
    margin: 0px 0px 40px;
    white-space: pre-line;
}

.popup-modal-button-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 32px 48px 50px;
    margin: 0 8px;
    box-shadow: rgb(0 0 0 / 5%) 0px -12px 24px 0px;
}

.popup-modal-button-wrapper>div {
    margin: 4px;
}

/* Option Selection */

.option-selection {
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 12px;
    display: flex;
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.option-selection .checkbox-input-container {
    position: relative;
    cursor: pointer;
}

.option-selection label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.option-selection input{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(149, 165, 182);
    border-radius: 5px;
    background: transparent;
    margin-right: 10px;
}

.option-selection input:checked {
    background: rgb(0, 70, 228);
    border: 0px;
    border: 2px solid rgb(0, 70, 228);
}

.option-selection .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .option-selection input:checked ~ .checkmark:after {
    display: block;
  }

.option-selection .checkmark {
    position: absolute;
    top: 2px;
    left: 3px;
    height: 20px;
    width: 20px;
}

.option-selection .checkmark::after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.option-selection-infos {
    display: flex;
    flex-direction: column;
}

.option-selection-infos .details{
    color: #7640a1;
    font-size: 10px;
    font-weight: 900;
}

.option-selection-infos .date{
    font-family: AvenirLTProBlack;
    font-size: 14px;
    text-transform: capitalize;
}

.option-selection .price {
    font-size: 18px;
    margin-left: auto;
    white-space: nowrap;
}


@media (max-width: 500px) { 
    .popup-modal-button-wrapper {
        justify-content: center;
    }
}